# Local configs, such as emails, which are not to be commited.
[include]
    path = ~/.gitconfig-local

[pull]
    rebase = false

###############################
###### START DELTA CONFIG #####
###############################

# https://github.com/dandavison/delta

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    # delta --help for help on how to use styles
    plus-style = 'syntax "#006000"'
    plus-emph-style = 'syntax "#009000"'
    side-by-side = true
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

#############################
###### END DELTA CONFIG #####
#############################
